<Directory /www/spyfield>
    Options Indexes FollowSymLinks
    Require all granted
    AllowOverride All
    RewriteEngine on
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteEngine on
    RewriteRule ^(.*)$ public/index.php?url=$1 [QSA,L]
    RewriteRule . public/index.php [L]
</Directory>